@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Wydarzenia na Uczelni</h2>

    <!-- Wydarzenie 1 -->
    <div>
        <h3>Politechnika rowerowa – rozbudowujemy infrastrukturę dla rowerzystów!</h3>
        <p>Data: 04.12.2023 | Kategoria: aktualności ogólne, działania społeczne</p>
        <img src="~/img/rowerzysci.jpg" alt="Rowerzyści przy A-1">
        <p>
            Kilkaset nowych stojaków rowerowych, prysznice w kilku budynkach uczelni i początek prac przy Centrum Rowerowym PWr.
            Rozbudowa infrastruktury rowerowej w ramach programu Polytechnica Nova rusza pełną parą!
        </p>
    </div>

    <!-- Wydarzenie 2 -->
    <div>
        <h3>Nazwa Wydarzenia 2</h3>
        <p>Data: 05.12.2023 | Kategoria: kategoria 2</p>
        <img src="~/img/zdjecie3.jpg" alt="Opis zdjęcia 2">
        <p>
            Opis wydarzenia 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat,
            vestibulum mi id, fermentum quam. Nunc id mauris ut metus ullamcorper pulvinar. Integer in lacus
            vel nibh tincidunt hendrerit non ac ligula. Aenean congue bibendum mi, nec tempor felis sagittis vitae.
        </p>
    </div>

    <!-- Wydarzenie 3 -->
    <div>
        <h3>Nazwa Wydarzenia 3</h3>
        <p>Data: 06.12.2023 | Kategoria: kategoria 3</p>
        <img src="~/img/zdjecie2.jpg" alt="Opis zdjęcia 3">
        <p>
            Opis wydarzenia 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat,
            vestibulum mi id, fermentum quam. Nunc id mauris ut metus ullamcorper pulvinar. Integer in lacus
            vel nibh tincidunt hendrerit non ac ligula. Aenean congue bibendum mi, nec tempor felis sagittis vitae.
        </p>
    </div>

    <div>
        <h3>Nazwa Wydarzenia 3</h3>
        <p>Data: 06.12.2023 | Kategoria: kategoria 3</p>
        <img src="~/img/zdjecie3.jpg" alt="Opis zdjęcia 3">
        <p>
            Opis wydarzenia 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat,
            vestibulum mi id, fermentum quam. Nunc id mauris ut metus ullamcorper pulvinar. Integer in lacus
            vel nibh tincidunt hendrerit non ac ligula. Aenean congue bibendum mi, nec tempor felis sagittis vitae.
        </p>
    </div>

    <!-- Kolejne wydarzenia... -->

</div>
